/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Write your code below */
nav {
  background-color:#26d0c9;
  color:#fff;
  height:90px;
}

.logo{
  float:left;
  font-size: 36px;
  padding: 20px 40px;
}

.menu{
  float:left;
}

.menu ul li {
  float:left;
  list-style: none;
  padding:30px 20px; 
}

main .container {
  margin:100px 80px;
}

.content h1 span {
  color:#ff4a4a;
}

.content h1 {
  font-size:140px;
}

.content h2 {
  font-size:60px;
}

.lessons{
  margin-top:100px;
  height:500px;
}

.lessons h3 {
  font-size:28px;
  border-bottom: 2px solid #dee7ec;
}

.lessons-items {
  padding-top:15px;
}

.lessons-item {
  float:left;
  margin:50px 40px 30px 0;
}

footer .container {
  margin:100px 80px;
}

footer h3 {
  border-bottom:2px solid #dee7ec;
  font-size:28px;
  margin-bottom:15px;
}
footer .form {
  margin-top:50px;
  width:400px;
}

.btn-submit {
  font-size:18px;
  background-color:#DEE7EC;
  color:#AEBEC8;
}

input,textarea{
  width:400px;
  margin:10px 0 30px 0;
  padding:20px;
  font-size:18px;
  border: 1px solid #dee7ec;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  padding:40px
}
.footer .container{
  height:120px;
}

.footer p {
  float:left;
  font-size:32px;
}

.footer ul {
  float:right
}
.footer ul li {
  padding-bottom:20px;
}