/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

/* Write your code below */
nav {
  background-color:#26d0c9;
  color:#fff;
  height:90px;
}

.logo{
  float:left;
  font-size: 36px;
  padding: 20px 40px;
}

.menu{
  float:left;
}

.menu ul li {
  float:left;
  list-style: none;
  padding:30px 20px; 
}

.container {
  margin:100px 80px;
}

.content h1 span {
  color:#ff4a4a;
}

.content h1 {
  font-size:140px;
}

.content h2 {
  font-size:60px;
}